<!--Check-->
<a (click)="navigateToPost(post.idPost)">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="post.image" alt="Card image cap">
    <div class="card-body">
      <div class="title-container">
        <a [routerLink]="['/edit-profile', post.idUser]">
          <img class="profile-img" [src]="post.profilePicUser" alt="Immagine profilo">
        </a>
        <h5 class="card-title">{{ post.title }}</h5>
      </div>
      <p class="card-address">{{ post.descriptionLocation }}</p>
      <p class="card-text">
        <small class="text-body-secondary">Pubblicato: {{ post.dateCreation  | date:'dd/MM/yyyy' }}</small>
      </p>
    </div>
  </div>
</a>
