<!-- Card container con stile personalizzato e id dinamico -->
<div class="card forum-card" [id]="'forum-' + forum.idForum" (click)="goToForum(forum.idForum)">

  <!-- Mostra l'immagine del forum solo se presente -->
  <img *ngIf="forum.image" [src]="forum.image" alt="Immagine forum" class="card-img-top" />

  <div class="card-body">
    <div class="title-container">

      <!-- Link al profilo dell'artista che NON attiva il click della card -->
      <a [routerLink]="['/edit-profile']" (click)="$event.stopPropagation()">
        <img [src]="forum.profilePicArtist" alt="Artista" class="profile-img" *ngIf="forum.image">
      </a>

      <div>
        <h5 class="card-title">{{ forum.title }}</h5>
      </div>
    </div>

    <!-- Mostra una descrizione troncata se più lunga di 100 caratteri -->
    <p>{{ forum.description.length > 100 ? (forum.description | slice:0:100) + '...' : forum.description }}</p>

    <!-- Data del forum formattata, allineata a destra in basso -->
    <div class="mt-auto d-flex justify-content-end">
      <small class="text-muted">{{ forum.date | date: 'dd/MM/yyyy' }}</small>
    </div>
  </div>
</div>
