<app-navbar></app-navbar>

<div class="background-wrapper">

  <div class="fade-in container">

    <div class="menu-container">

      <!-- Bottone icona che apre il menu a tendina solo se:
          - Non è il proprio profilo (isOwnProfile = false)
          - L'utente ha ruolo ADMIN -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="!isOwnProfile && userRole == 'ADMIN' ">
        <!-- Icona del bottone: tre puntini verticali -->
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">

        <button mat-menu-item (click)="toggleAccountStatus()" *ngIf="!isOwnProfile && userRole == 'ADMIN'">
          <mat-icon>{{ isAccountDisabled ? 'refresh' : 'person_remove' }}</mat-icon>
          {{ isAccountDisabled ? 'Riabilita Account' : 'Disabilita Account' }}
        </button>

        <button mat-menu-item (click)="openChangePasswordDialog()" *ngIf="isOwnProfile">
          <mat-icon>lock</mat-icon>
          Cambia Password
        </button>

        <button mat-menu-item (click)="openRoleRequestDialog('ARTIST')" *ngIf="isOwnProfile && userRole != 'ARTIST'">
          <mat-icon>brush</mat-icon>
          Diventa Artista
        </button>

        <button mat-menu-item (click)="openRoleRequestDialog('MODERATOR')" *ngIf="isOwnProfile && userRole != 'MODERATOR'">
          <mat-icon>shield</mat-icon>
          Diventa Moderatore
        </button>

        <button mat-menu-item (click)="openRoleRequestDialog('REVIEWER')" *ngIf="isOwnProfile && userRole != 'REVIEWER'">
          <mat-icon>star</mat-icon>
          Diventa Recensore
        </button>

      </mat-menu>
    </div>

    <!-- Sezione Profilo Utente -->
    <div class="p-info">
      <div class="background-image"></div>

      <h1 class="fade-child delay-1">{{name}} {{surname}}  <ng-container [ngSwitch]="userRole?.toUpperCase()">
        <mat-icon *ngSwitchCase="'ARTIST'" class="role-icon" matTooltip="Artista">brush</mat-icon>
        <mat-icon *ngSwitchCase="'MODERATOR'" class="role-icon" matTooltip="Moderatore">security</mat-icon>
        <mat-icon *ngSwitchCase="'REVIEWER'" class="role-icon" matTooltip="Revisore">star</mat-icon>
        <mat-icon *ngSwitchCase="'ADMIN'" class="role-icon" matTooltip="Revisore">verified_user</mat-icon>
        <mat-icon *ngSwitchDefault class="role-icon" matTooltip="Utente">person</mat-icon>
      </ng-container></h1>

      <div class="profile-card fade-child delay-2">
        <img [src]="profilePic" class="profile-pic">
        <label for="file-path" class="camera-label" *ngIf="isOwnProfile">
          <mat-icon matTooltip="Modifica Foto Profilo" fontIcon="photo_camera"></mat-icon>
        </label>

        <!-- Input per il caricamento dell'immagine -->
        <input type="file" id="file-path" accept="image/jpeg, image/png, image/jpg" (change)="onFileSelected($event)"
               *ngIf="isOwnProfile">
      </div>

      <!-- Nickname -->
      <div class="bio-header fade-child delay-3">
        <p *ngIf="!isEditingNick" class="nickname">@{{ nickname }}</p>
        <input matInput #input maxlength="15" *ngIf="isEditingNick  && isOwnProfile" [(ngModel)]="nickname"
               class="nickname-input active"
               (input)="checkNicknameLength()" placeholder="Modifica il nickname"/>
        <mat-icon class="edit-icon" matTooltip="Modifica Nickname" (click)="onEdit()" *ngIf="isOwnProfile">
          {{ isEditingNick ? 'check' : 'edit' }}
        </mat-icon>
      </div>

      <!-- Bottone Segui -->
      <button
        class="follow-btn fade-child delay-4"
        [ngClass]="{ 'followed': isFollowing }"
        (click)="toggleFollow()"
        *ngIf="!isOwnProfile || userRole == 'ARTIST'"
      >
        {{ isFollowing ? 'Segui già' : 'Segui' }}
      </button>
    </div>

    <!-- Sezione Biografia -->
    <div class="bio fade-child delay-5">
      <div class="fade-child bio-header">
        <h1>Bio</h1>
        <mat-icon matTooltip="Modifica La Biografia" class="edit-icon" (click)="toggleEdit()" *ngIf="isOwnProfile">
          {{ isEditingBio ? 'check' : 'edit' }}
        </mat-icon>
      </div>

      <p *ngIf="!isEditingBio">{{ bioText }}</p>

      <textarea placeholder="Scrivi una biografia" *ngIf="isEditingBio && isOwnProfile" [(ngModel)]="bioText"
                (input)="checkCharacterLimit($event)" [attr.maxlength]="maxCharacters" class="form-control "
                rows="3"></textarea>

      <mat-hint *ngIf="isEditingBio && remainingCharacters > 0 && isOwnProfile">
        Caratteri rimanenti: {{ remainingCharacters }}
      </mat-hint>
    </div>

    <!-- Sezione Pubblicazioni -->
    <h1 class="fade-child delay-6">Pubblicazioni</h1>
    <app-card-slider [context]="'edit-profile'" [idUser]="idUser" class="fade-child delay-7"></app-card-slider>

    <!-- Sezione Forum -->
    <h1 class="fade-child delay-8">Forum</h1>
    <app-forum-slider [idUser]="idUser" class="fade-child delay-9"></app-forum-slider>
  </div>
</div>
<app-footer></app-footer>
